/* the shrift of the text*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
}
/* the shrift of the text*/

/*  Navigation Bar  */
.nav a:link, .nav a:visited {
  color: #99CCC7;
  padding: 14px 25px;
  text-align: center;
  float: left;
}

.nav a:hover,.nav a:active {             /*  Animation when hover  */
  background-color: #C5E7D9;
  color:#233D62 ;
}

div.nav {          /*  Style by default  */
  position: fixed;
  font-size: 22px;
  background-color: #233D62;
  width: 100%;
  top: 0.1%;
  z-index: 1;
  display: flex;
}

div.nav a {
  text-decoration: none;
}
/* Navigation Bar */


/* Logo */
div.logo
{
  position: relative;
  text-align: center;
  color: white;
}
/* Logo */



/* The name of the team on the picture */
div.bottom-left
{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 30px;
  color: #C5E7D9;
}
/* The name of the team on the picture */

/* Size of the paragraphs text */
p
{
  font-size: 100;
}
/* Size of the paragraphs text*/

/* Style of the footer */
footer.footer {
  text-align: center;
  display: -webkit-inline-box;
  display: block;
  clear: both; 
}
/* Style of the footer */

/* Background of the articles */

.article-background-bright {
  background-color: white;
}

.article-background-dark {
  background-color: silver;
}
/* Background of the articles */

/* Article position */
article {
  margin-top: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
}


article h2 {
  margin-top: 0px;
}

article.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}

article.future {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}
/* Article position */

div.future a {
  text-decoration: none;
}

/* Size of the images */
img.turtle {
  height: 300px;
}

img.future1 {
  height: 300px;
  
}

/* Size of the images */


/* Article position */

a.anchor {
  display: block;
  position: relative;
  top: -35px;
  visibility: hidden;
}

article.contact
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  background-color: #FEF9D5;
}

article.contact1
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  background-color: #FEF9D5;
}


article.contact2
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  background-color: #FEF9D5;
}

/* Article position */

/* Size of the text*/
h1
{
  font-size: 40px;
}

p
{
  font-size: 20px;
}

/* Size of the paragraphs text*/

/* Size and position of the images */
img.picture
{
  float:  left;
width:  200px;
height: 200px;
background-size: cover;
overflow:hidden;
}/* Size and position of the images */


/* The site to be responsible in smaller screen*/
@media screen and (max-width: 768px)
{
  .nav a:link, .nav a:visited {
    color: #99CCC7;
    padding: 14px 25px;
    text-align: center;
    float: left;
  }
  
  .nav a:hover,.nav a:active {
    background-color: #C5E7D9;
    color:#233D62 ;
  }
  
  div.nav {
    position: fixed;
    font-size: 22px;
    background-color: #233D62;
    width: 100%;
    top: 0.1%;
    z-index: 1;
    display: flex;
  }
  
  div.nav a {
    text-decoration: none;
  }
  div.logo
  {
    position: relative;
    text-align: center;
    color: white;
  }
  div.bottom-left
  {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 30px;
    color: #C5E7D9;
  }
  
  
  p
  {
    font-size: 100;
  }
  
  
  footer.footer {
    text-align: center;
    display: -webkit-inline-box;
    display: block;
    clear: both; 
  }
  
  .article-background-bright {
    background-color: white;
  }
  
  .article-background-dark {
    background-color: silver;
  }
  
  article {
    margin-top: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  article h2 {
    margin-top: 0px;
  }
  
  article.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
  }
  
  article.future {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
  }
  
  div.future a {
    text-decoration: none;
  }
  
  
  div.future_link a {
    text-decoration: none;
  }
    
  img.turtle {
    height: 300px;
  }
  .future a:link, .future a:visited {
    color: black;
  
    padding: 12px 10px;
    float: left;
  }
  
  
  
  img.future1 {
    height: 300px;
    
  }
  article.contact
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    background-color: #FEF9D5;
  }
  
  article.contact1
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    background-color: #FEF9D5;
  }
  
  
  article.contact2
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    background-color: #FEF9D5;
  }
  
  footer.footer {
    text-align: center;
    display: -webkit-inline-box;
    display: block;
    clear: both; 
  }
  
  h1
  {
    font-size: 40px;
  }
  
  p
  {
    font-size: 20px;
  }
  
  img.picture
  {
    float:  left;
  width:  200px;
  height: 200px;
  background-size: cover;
  overflow:hidden;
  }
}

/* The site to be responsible in smaller screen*/