body{
  overflow-x: hidden;
  background-color: aquamarine;
}
/*  Navigation Bar  */
.nav2 a:link, .nav2 a:visited {
  color: #99CCC7;
  padding: 14px 25px;
  text-align: center;
  float: left;
}

div.nav2
{
  position: fixed;                    /*  Style by default  */
  font-size: 22px;
  background-color: #233D62;
  width: 100%;
  display: flex;
  z-index: 1;
  top: 0.1%;
}

a:link, a:visited
 {
    color: white;
    padding: 14px 25px;
    text-align: center;
    float: left;
  }
  
  a:hover, a:active {
    background-color: #34deeb;        /*  Animation when hover  */
  }

  div.nav2 a 
  {
    text-decoration: none;
  }

  /*  Navigation Bar  */
  article.Types_of_turtles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
  }

  /* Size of the images */
  img.turtle {
    height: 300px;
  }
  img.turtle1 {
    height: 280px;
  }
  /* Size of the images */

  /* Size of the text */
  p
  {
    font-size: 20px;
  }

  h1{
    font-size: 40px;
  }
  /* Size of the text */

  /* Article position */
  article.Turtles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
  }
/* Article position */

/* The site to be responsible in smaller screen*/
  @media screen and (max-width: 768px)
  {
    .nav2 a:link, .nav2 a:visited {
      color: #99CCC7;
      padding: 14px 25px;
      text-align: center;
      float: left;
    }
    div.nav2
    {
      position: fixed;
      font-size: 22px;
      background-color: #233D62;
      width: 100%;
      display: flex;
      z-index: 1;
      top: 0.1%;
    }
    a:link, a:visited {
        color: white;
        padding: 14px 25px;
        text-align: center;
        float: left;
      }
      
      a:hover, a:active {
        background-color: #34deeb;
      }
      div.nav2 a {
        text-decoration: none;
      }
      article.Types_of_turtles {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-around;
        padding-top: 100px;
      }
      img.turtle {
        height: 300px;
      }
      img.turtle1 {
        height: 280px;
      }
      p
      {
        font-size: 20px;
      }
      h1{
        font-size: 40px;
      }
      article.Turtles {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
      }
  }
  /* The site to be responsible in smaller screen*/