body
{
 background-image: url('contact form.jpg');
background-size: 1950px 1000px;
}
.Header{
text-align:center;
color:red;
}
body  {
  background-image: url("vc.jpg");
  background-size:1320px 930px;
 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.contact
{
color: white;
}

.button1{
       background: #d9544f;
     color: black;
	 text-align:center;
padding: 10px 20px;

}
.button{

       background: #00cc00;
     color: black;
padding: 10px 20px;
align:center;
	 text align:center;
}
