div.nav1
{
  position: fixed;
  font-size: 22px;
  background-color: #233D62;
  width: 100%;
  top: 0.0001%;
  z-index: 1;
   
}
a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    float: left;
  }
  
  a:hover, a:active {
    background-color: #34deeb;
  }
  div.nav1 a {
    text-decoration: none;
  }
  img.turtle_track
  {
    
  }