body
{
 background-image: url('a.jpg');
background-size: 1950px 1000px;
}
a:link, a:visited {
  
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    float: right;
  }
  
  a:hover, a:active {
    background-color:#34deeb;
  }



  
  body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}