
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-family: "Times New Roman", Georgia, Serif;
}


a:link, a:visited {
  color: #a999f7;
  padding: 14px 25px;
  text-align: center;
  float: left;
}

a:hover, a:active {
  background-color: #34deeb;
}

div.nav {
  position: fixed;
  font-size: 22px;
  background-color:#98e2eb ;
  width: 100%;
  top: 0.0001%;
  z-index: 1;
  
}

div.nav a {
  text-decoration: none;
}

div.back
{
  position: relative;
  text-align: center;
  color: white;
}

div.Blue
{
 
  color:grey;
  position: absolute;
  top: 92%;
  
}

div.turtle
{
  position: relative;
left: 200px;
top: 75px;


}
div.about
{
  position: relative;
  left:900px;
  bottom:300px;
  
}
h4,h3 {
  font-weight: normal;
}
div.text_about
{
  position: relative;
  left:900px;
  bottom:270px;
}


@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}





@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
footer.footer
{
  text-align: center;
}