body
{
 background-image: url('a.jpg');

background-size: auto;

}
div.Nav
{
  position: fixed;
  margin-left: 1300px;
  font-size: 19px;
}
img{
  padding-top: 400px;
  margin-left: 700px;
}

a:link, a:visited {
  
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    float: right;
  }
  
  a:hover, a:active {
    background-color:#34deeb;
  }

  
  body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.button1{
    background: #d9544f;
  color: black;
  text-align:center;
padding: 10px 20px;

}

.button{

    background: #00cc00;
  color: black;
padding: 10px 20px;
align:center;
  text-align:center;
}
div.b{
    font-size: 20px;
    position: absolute;
 top:290px;
 color: white;

 

  }
  div.all
  {
    position: relative;
    color: white;
  }
  
  div.header
  {
    font-size: 30px;
    text-align:center;
    color:  black;
    
  }
  div.a{
    font-size: 20px;
    position: absolute;
  top:140px;
    color:#1C304B;
  }
  div.about
  {
    
    font-size: 30px;
    color:  black;
    position:absolute;
    top:220px;
    left:900px ;
   
  }
  div.why
  {
    font-size: 30px;
    color:  black;
    position:absolute;
    top:400px;
    left:900px ;
  }
  div.c{
    font-size: 20px;
    position: absolute;
  top:450px;
    color:#1C304B;
  }
  div.title
  {
    font-size: 20px;
    font-family: Shadows Into Light;
    font-size: 23px;
  }
